@media only screen and (max-width: 1000px) {
    body {
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 14px;
        overflow-x: hidden;
    }

    .title {
        text-align: center;
    }

    .bw {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .white {
        text-align: center;
    }

    .black {
        text-align: center;
    }

    button {
        font-size: 16px;
        margin: 5px;
    }

    footer {
        text-align: center;
    }
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #769656;
    overflow-x: hidden;
}

.title {
    text-align: center;
    margin-top: 5em;
}

.bw {
    display: flex;
    justify-content: center;
}

.bw p {
    font-size: 2em;
}

.bw button {
    font-family: 'Poppins', sans-serif;
    padding: 1.5em;
}

#startWhite {
    content: "";
    width: 10em;
    height: 10em;
    padding: 2em;
}

#startBlack {
    background-color: black;
    content: "";
    width: 10em;
    height: 10em;
    padding: 2em;
}

.white {
    text-align: center;
    display: inline-block;
    padding: 5em;
}

.black {
    text-align: center;
    display: inline-block;
    padding: 5em;
}

.reset {
    display: flex;
    justify-content: center;
}

.reset button {
    font-family: 'Poppins', sans-serif;
    padding: 2em;
    border-radius: 20%;
    background-color: black;
    color: white;
}

footer {
    margin-top: 8em;
    text-align: center;
}